<div id="viewid-chat" class="view-chat" style="display: none">
    <div   >
        <div class="container">
            <ul id="viewid-chat-list" class="chat-info">
                <!--me
                    <li class="me">
                        <img src="{img}"/>
                        <p>{msg}<span data-id={sendid} class="hide"><i>!</i></span></p>
                    </li>
                me-->

                <!--other
                    <li class="other">
                        <img src="{img}"/>
                        <span class="nickname">{nick}</span>
                        <p>{msg}</p>
                    </li>
                other-->

                <!--time
                    <li class="time"><span>{time}</span></li>
                time-->

                <!--goods
                    <li class="goods">
                        <div>
                            <div class="image">
                                <img src="{img}"/>
                            </div>
                            <div class="right">
                                <div class="detail">
                                    <p class="name">{name}</p>
                                    <p class="price">￥{price}</p>
                                    <p>规格：{model}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                goods-->
            </ul>
        </div>
    </div>
    <form class="chat-window">
        <textarea id="viewid-chat-msg" class="message"></textarea>
        <span id="viewid-chat-send" data-cmd="send">发送</span>
    </form>
</div>

