
    <div id="viewid-chat-group" class="view-chat-group"  style="display: none">
        <div>
            <ul id="viewid-chat-group-list" class="chat-list">
<!--                <li data-cmd=chat data-index={index}  data-groupid={groupid}>
                    <img class="image" src="{img}" />
                    <p class="name">{name}<span class="time">{time}</span></p>
                    <p data-msg="" class="word">{msg}</p>
                    <span data-cmd="alert" class=""></span>
                </li>-->
            </ul>
        </div>
    </div>

