<div id="viewid-pc-chat" class="view-pc-chat" style="display: none">
    <div class="title">联系客服</div>
    <div class="container">
        <ul id="viewid-pc-chat-group" class="left">
<!--            <li data-cmd="group" data-index={index} data-groupid={groupid}>
                <img class="image" src="{img}" />
                <p class="name">{name}</p>
                <p data-msg=""class="word">{msg}</p>
                <span data-cmd="alert" class=""></span>
            </li>-->
        </ul>

        <div class="right">
            <ul id="viewid-pc-chat-list" class="chat-info">

                <!--time
                    <li class="time"><span>{time}</span></li>
                time-->

                <!--me
                    <li class="me">
                        <img src="{img}"/>
                        <p>{msg}<span data-id={sendid} class="hide"><i>!</i></span></p>
                    </li>
                me-->

                <!--other
                    <li class="other">
                        <img src="{img}"/>
                        <span class="nickname">{nick}</span>
                        <p>{msg}</p>
                    </li>
                other-->

                <!--goods
                    <li class="goods">
                        <div>
                            <div class="image">
                                <img src="{img}"/>
                            </div>
                            <div class="gright">
                                <div class="detail">
                                    <p class="name">{name}</p>
                                    <p class="price">￥{price}</p>
                                    <p>规格：{model}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                goods-->

            </ul>
            <div class="bottom">
                <textarea id="viewid-pc-chat-msg"></textarea>
                <div class="send">
                    快捷键：换行(Shift+回车), 发送(Ctrl+回车或回车)
                    <button data-cmd="send">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>

